* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-image: url(../images/bg-intro-desktop.png);
  background-color: #ff7a7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  margin: 0 60px;
  font-family: "Poppins", sans-serif;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #phrase {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #phrase h1 {
  font-size: 3rem;
  line-height: 2.8rem;
  font-weight: bold;
  padding-bottom: 1em;
}

main #phrase p {
  font-weight: 700;
}

main #info-submit {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
}

main #info-submit #trial {
  color: white;
  padding: 1em .5em;
  width: 100%;
  border-radius: .5em;
  font-size: 16px;
  text-align: center;
  font-size: .8rem;
  font-weight: 700;
  background-color: #6055a5;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0 8px 4px rgba(62, 60, 73, 0.3);
          box-shadow: 0 8px 4px rgba(62, 60, 73, 0.3);
}

main #info-submit ::-webkit-input-placeholder {
  color: hsl q(249, 10%, 26%);
  font-weight: 700;
}

main #info-submit :-ms-input-placeholder {
  color: hsl q(249, 10%, 26%);
  font-weight: 700;
}

main #info-submit ::-ms-input-placeholder {
  color: hsl q(249, 10%, 26%);
  font-weight: 700;
}

main #info-submit ::placeholder {
  color: hsl q(249, 10%, 26%);
  font-weight: 700;
}

main #info-submit form {
  background-color: white;
  padding: 2em;
  border-radius: .5em;
  -webkit-box-shadow: 0 8px 4px rgba(62, 60, 73, 0.3);
          box-shadow: 0 8px 4px rgba(62, 60, 73, 0.3);
  display: relative;
}

main #info-submit form input {
  border-radius: .20em;
  width: 100%;
  padding-left: 1.5em;
  height: 2.5em;
  border: 1px solid #b9b6d3;
}

main #info-submit form input[type='submit'] {
  font-size: 1rem;
  display: block;
  padding: 0;
  background-color: #38cc8c;
  color: white;
  font-weight: 700;
}

main #info-submit form input + p {
  height: 1.5em;
  margin-bottom: 1em;
  font-style: italic;
  width: 100%;
}

main #info-submit form .error-message {
  text-align: right;
  color: #ff7a7a;
  font-weight: bold;
}

main #info-submit form .terms {
  padding: 0;
  color: #b9b6d3;
  text-align: center;
  font-size: .7rem;
}

main #info-submit form .terms a {
  text-decoration: none;
  color: #ff7a7a;
}

main section {
  padding: 1em 1.5em;
}

@media screen and (max-width: 750px) {
  main {
    max-width: 600px;
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #phrase {
    text-align: center;
    margin-bottom: 20px;
  }
  main #phrase h1 {
    font-size: 2rem;
    padding-bottom: .4em;
  }
  main #info-submit #trial {
    font-size: 1.3rem;
  }
  main #info-submit input {
    padding: 1.5em;
  }
  main #info-submit input[type='submit'] {
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=main.css.map */